{:paths   ["src"]
 :deps    {org.clojure/clojure           {:mvn/version "1.12.0"}
           org.clj-commons/clj-http-lite {:mvn/version "1.0.13"}
           org.clojure/data.json         {:mvn/version "2.5.1"}
           org/jaudiotagger       {:mvn/version "2.0.3"}}
 :aliases {:format/check {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                          :main-opts  ["-m" "cljfmt.main" "check"]}
           :format/fix   {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                          :main-opts  ["-m" "cljfmt.main" "fix"]}
           :test         {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                          :exec-fn    kaocha.runner/exec-fn
                          :exec-args  {}}}}




